.mat-elevation-z8 {
    height: 500px;
    width: 80%;
    margin-left: 10%;
    border-top: 1px solid #fbfbfb;;
}

.mat-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.mat-full-width {
    width: 60%;
}
.editForm{
    margin-left: 33%;
    margin-top: 10%;
}
.btn{
    width: 55%;
    float: right;
}