.mycenter{
    width:  100%;
}
input {
    width: 100%;
    height: 40px;
    border: 1px solid #dbdbdb;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.imgBtn{
    margin-top: 2%;
    margin-left: 2%;
    width: 40%;
    background-color: #dbdbdb;
    border-radius: 7px;
    cursor: pointer;
}
.imgBtn img{
    border-radius: 7px;
}
span{
    cursor: pointer;
    position: fixed;
    margin-top: -6px;
    margin-left: -8px;
    color: whitesmoke;
}