@media(max-width:450px){.peopleList{display: none;}}
@media(max-width:400px){.posts{width: 100%;}}

.feeds {
    background-color: #fbfbfb;
}
.mat-elevation-z8 {
    height: 500px;
}

.mainDiv {
    padding: 7%;
}

.flex {
    display: flex;
}

.peopleList {
    border: 1px solid #dbdbdb;
    height: 443px;
    width: 30%;
    margin-left: 3%;
    position: fixed;
    right: 85px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.posts {
    border-top: 1px solid #dbdbdb;
    /* height: 900px; */
    width: 63%;
    /* margin-left: 3%; */
}

.example-card {
   padding: 30px;
   margin-bottom: 4%;
}


input {
    width: 100%;
    height: 55px;
    border: 1px solid #dbdbdb;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.img {
    border-radius: 100px;
    position: relative;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    cursor: pointer;
    outline-style: none;
    position: relative;
    margin-left: 5%;
    width: 16.33%;
    background-size: cover;
}
.header-image img,.img img{ 
    border-radius: 100px;
    position: relative;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
}

.profilePic {
    margin-top: 0.7%;
    width: 9.33%;
}
.name {
    width: 54%;
    margin-top: 3%;
    margin-left: 8%;
    font-size: 15px;
    font-family: cursive;
}
.people{
    height: 70px;
   
}
mat-card{
    padding: 12px;
}
.peopleProfile{
    border-radius: 100px;
    position: relative;
    margin-left: 5%;
    width: 16.33%;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    width: 50px;
    height: 50px;
    background-size: cover;
    display: block;
}
span{
    font-size: 0.63rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.people-name{
    margin-bottom: -4%;
    cursor: pointer;
    outline-style: none;
}
.mycenter{
    width:  100%;
}