<div class="feeds">
    <!-- <div class="top">

    </div> -->
    <div class="mainDiv">
        <div class="flex">
            <div class="posts">
                <mat-card class="flex" style="margin-bottom: 1.5%;">
                    <div class="profilePic">
                        <div class="img" [routerLink]="['/profile',userId]">
                            <img src="http://localhost:8080/api/medsol/profile/pic/{{profile?.id}}" height="50px" width="50px"></div>
                    </div>
                    <div class="mycenter" (click)="openModal()">
                        <input mat-input type="text" placeholder="Write Something Here ..">
                    </div>
                </mat-card>
                <div>
                    <mat-card class="example-card">
                        <mat-card-header>
                            <div mat-card-avatar class="header-image">
                                <img src="./../../../assets/image.jpg" height="50px" width="50px">
                            </div>
                            <mat-card-title>Shiba Inu</mat-card-title>
                            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <p>
                                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                                Japan.
                                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                                originally
                                bred for hunting.
                            </p>
                        </mat-card-content>
                        <img mat-card-image src="../../../assets/medsol.jpg" alt="Photo of a Shiba Inu">
                        <mat-card-actions>
                            <button mat-button>LIKE</button>
                            <button mat-button>SHARE</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
                <div>
                    <mat-card class="example-card">
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title>Shiba Inu</mat-card-title>
                            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <p>
                                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                                Japan.
                                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                                originally
                                bred for hunting.
                            </p>
                        </mat-card-content>
                        <img mat-card-image src="../../../assets/image.jpg" alt="Photo of a Shiba Inu">
                        <mat-card-actions>
                            <button mat-button>LIKE</button>
                            <button mat-button>SHARE</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
                <div>
                    <mat-card class="example-card">
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title>Shiba Inu</mat-card-title>
                            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <p>
                                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                                Japan.
                                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                                originally
                                bred for hunting.
                            </p>
                        </mat-card-content>
                        <img mat-card-image src="../../../assets/136995.jpg" alt="Photo of a Shiba Inu">

                        <mat-card-actions>
                            <button mat-button>LIKE</button>
                            <button mat-button>SHARE</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
            <div class="peopleList">
                <div class="header"><b>Suggetions For you ..</b> <a href="#" style="float: right;">See All</a></div>
                <div class="people" *ngFor="let people of peopleList">
                    <mat-card class="flex">
                        <div class="profilePic">
                            <div class="img" [routerLink]="['/profile',people.userId]">
                                <img src="http://localhost:8080/api/medsol/profile/pic/{{people.profileId}}" height="50px" width="50px">
                            </div>
                        </div>
                        <div class="name">
                            <div class="people-name" [routerLink]="['/profile',people.userId]">{{people.name}}</div>
                            <span>{{people.grade}},{{people.institute}}</span>
                        </div>
                        <div class="btn"><button mat-raised-button color="primary"
                                style="margin-top: 1.5%;" (click)=follow(people.userId)>Follow</button></div>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>

</div>