.mainDiv{
    /* background-image: url(./../../assets/medsol.jpg); */
    background-color: #fbfbfb;
    height: 640px;
}
.subDiv{
    border-top: 1px solid rgb(255, 255, 255);
}
.loginDiv{
    margin-top: 10%;
    margin-left: 50%;
    margin-right: 6%;
    height: 400px;
    /* border: 1px solid black; */
}
.mat-tab-group{
    height: 398px;
}

 .login {
    margin-top: 12%;
    margin-left: 20%;
    margin-right: 20%;
 }
 .signup{
    margin-top: 8%;
    margin-left: 20%;
    margin-right: 20%;
 }
/* .mat-elevation-z4 {
    box-shadow: 0 2px 20px 20px rgba(0,0,0,.2), 0 4px 20px 15px rgba(0,0,0,.14), 0 1px 20px 20px rgba(0,0,0,.12);
} */